<i class="fa"></i>
<div style="height: 600px">
  <x-map #xmap [Options]="_options" [Box]="_box">
    <x-map-layer *ngFor="let $l of _layers, let $layerIndex=index" [Visible]="$l.visible">
      <x-map-marker [Latitude]="$l.latitude" [Longitude]="$l.longitude" [Title]="$l.location"
            [IconInfo]="{
                markerType: _markerTypeId.FontMarker,
                fontName: 'FontAwesome',
                fontSize: 24,
                color: $layerIndex == 0 ? 'red' : ( $layerIndex == 1 ? 'blue' : 'green') ,
                markerOffsetRatio: { x: 0.5, y: 1 },
                text: '\uF276'
            }">
        <x-info-box [DisableAutoPan]="true" [Title]="$l.location" [Description]="'<strong>' + $l.title + '</strong> by ' + $l.author">
          <x-info-box-action [Label]="'GoodReads link'" (ActionClicked)="_goToLink($l.goodReadsLink)"></x-info-box-action>
        </x-info-box>
      </x-map-marker>
    </x-map-layer>
  </x-map>
</div> 
